<button class="btn -btn-confirm" [class.-confirm]="confirm" [class.-loading]="loading" [class.-done]="done" [class.-no-icon]="!icon" [disabled]="disabled" (click)="onClick($event)">
  <div class="icon" *ngIf="icon">
    <ng-content></ng-content>
  </div>
  <div class="text">
    <span *ngIf="!confirm && !done && !loading">{{defaultText}}</span>
    <span *ngIf="confirm && !done && !loading">{{confirmText}}</span>
    <span *ngIf="loading">{{loadingText}}</span>
    <span *ngIf="confirm && done && !loading">{{doneText}}</span>
  </div>
</button>
