<div class="actions-panel">
    <!--<button (click)="test()">Test</button>-->
    <confirm-btn [defaultText]="'Удалить'" [confirmText]="'Вы уверены?'" [loadingText]="'Выполняется удаление...'"
                 [doneText]="'Удалено!'" [disabled]="!dayReport.day_report_id" (onConfirm)="onDelete()"
                 #deleteBtn></confirm-btn>
    <button class="btn -warning" (click)="onPasteData()">Скопировать</button>

    <button class="btn -primary" (click)="onSave()" [disabled]="form.invalid">Сохранить</button>

</div>

<div class="card">
    <div class="card-content">
        <div class="card-header">
            Сводка за: {{form.controls.report_day.value}}
        </div>

        <form class="form" [formGroup]="form">

            <div class="row">

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.spr_oilfields_id">
                        Месторождение
                    </label-field>
                    <ng-select formControlName="spr_oilfields_id" [options]="spr_oilfields"
                               [notFoundMsg]="'Не чего не найдено'"
                               [allowClear]="true"></ng-select>

                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.spr_wellpads_id">
                        Куст
                    </label-field>
                    <ng-select formControlName="spr_wellpads_id" [options]="spr_wellpads_filtered"
                               [notFoundMsg]="'Не чего не найдено'"
                               [allowClear]="true"></ng-select>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.well">
                        Скважина
                    </label-field>
                    <input formControlName="well" type="text">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.layer">
                        Пласт
                    </label-field>
                    <input formControlName="layer" validateMore="project_depth" reverse="true" validateSelfName="Пласт"
                           validateFieldName="Проектная глубина" type="number">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.project_depth">
                        Проектная глубина
                    </label-field>
                    <input formControlName="project_depth" validateMore="layer" reverse="false"
                           validateSelfName="Проектная глубина" validateFieldName="Пласт" type="number">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.spr_well_purposes_id">
                        Назначение
                    </label-field>
                    <ng-select formControlName="spr_well_purposes_id" [options]="spr_well_purposes"
                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.spr_diameters_id">
                        Диаметр
                    </label-field>
                    <ng-select formControlName="spr_diameters_id" [options]="spr_diameters"
                               [notFoundMsg]="'Не чего не найдено'"
                               [allowClear]="true"></ng-select>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.drill_start">
                        Начало бурения
                    </label-field>
                    <input formControlName="drill_start" [textMask]="{mask: dateTimeMask}" ngui-datetime-picker
                           date-format="DD.MM.YYYY HH:mm" type="datetime"/>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.drill_end">
                        Окончание бурения
                    </label-field>
                    <input formControlName="drill_end" [textMask]="{mask: dateTimeMask}" ngui-datetime-picker
                           date-format="DD.MM.YYYY HH:mm" type="datetime"/>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.v_absorbing">
                        V.Погл.
                    </label-field>
                    <input formControlName="v_absorbing" type="number">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.drill_start_deviation">
                        Отклонение
                    </label-field>
                    <input formControlName="drill_start_deviation" type="number">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.next_angle">
                        Угол перекоса
                    </label-field>
                    <ng-select formControlName="next_angle" [options]="next_angles"
                               [notFoundMsg]="'Не чего не найдено'"
                               [allowClear]="true"></ng-select>
                </div>

                <div class="col-xs-12 form-control">
                    <fieldset>
                        <legend>Состояние на 24 часа</legend>

                        <div class="row">
                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field required [validatorControl]="form.controls.spr_work_types_id_24">
                                    Вид работ
                                </label-field>
                                <ng-select formControlName="spr_work_types_id_24" [options]="spr_work_types"
                                           [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                            </div>

                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field [validatorControl]="form.controls.val24">
                                    Параметр вида работ
                                </label-field>
                                <input formControlName="val24" type="text">
                            </div>

                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field>Раствор</label-field>
                                <input type="text" [value]="solute_24" [disabled]="true">
                            </div>

                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field required [validatorControl]="form.controls.bottom_24">
                                    Забой
                                </label-field>
                                <input formControlName="bottom_24" type="number">
                            </div>

                            <div class="col-xs-12 form-control">
                                <fieldset>
                                    <legend>Раствор</legend>
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required
                                                         [validatorControl]="form.controls.specific_gravity_24">
                                                Удельный вес
                                            </label-field>
                                            <input formControlName="specific_gravity_24" type="number">
                                        </div>

                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required [validatorControl]="form.controls.viscosity_24">
                                                Вязкость
                                            </label-field>
                                            <input formControlName="viscosity_24" type="number">
                                        </div>

                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required
                                                         [validatorControl]="form.controls.water_separation_24">
                                                Водоотдача
                                            </label-field>
                                            <input formControlName="water_separation_24" type="number">
                                        </div>

                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required
                                                         [validatorControl]="form.controls.percent_greasing_24">
                                                Процент содержания смазки
                                            </label-field>
                                            <input formControlName="percent_greasing_24" type="number">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>

                    </fieldset>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.rest_oil">
                        Остаток нефти
                    </label-field>
                    <input formControlName="rest_oil" type="number">
                </div>

                <!--<div class="col-sm-3 col-xs-6 form-control">-->
                <!--<label-field [validatorControl]="">Остаток жидкости</label-field>-->
                <!--<input formControlName="rest_aqua" type="text">-->
                <!--</div>-->

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.rest_solution">
                        Наличие рабочего раствора
                    </label-field>
                    <input formControlName="rest_solution" type="number">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.presence_solution">
                        Наличие свежеприготовленного раствора
                    </label-field>
                    <input formControlName="presence_solution" type="number">
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.slotting_number">
                        Номер долбления
                    </label-field>
                    <ng-select formControlName="slotting_number" [options]="slotting_numbers"
                               [notFoundMsg]="'Не чего не найдено'"

                               [allowClear]="true"></ng-select>
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.slotting_interval">
                        Интервал долбления
                    </label-field>
                    <input formControlName="slotting_interval" type="number">
                </div>

                <div class="col-xs-12 form-control">
                    <fieldset>
                        <legend>Состояние на 4 часа</legend>

                        <div class="row">
                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field required [validatorControl]="form.controls.spr_work_types_id_04">
                                    Вид работ
                                </label-field>
                                <ng-select formControlName="spr_work_types_id_04" [options]="spr_work_types"
                                           [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                            </div>

                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field [validatorControl]="form.controls.val04">
                                    Параметр вида работ
                                </label-field>
                                <input formControlName="val04" type="text">
                            </div>

                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field>Раствор</label-field>
                                <input type="text" [value]="solute_04" [disabled]="true">
                            </div>

                            <div class="col-sm-3 col-xs-6 form-control">
                                <label-field required [validatorControl]="form.controls.bottom_04">
                                    Забой
                                </label-field>
                                <input formControlName="bottom_04" type="number">
                            </div>

                            <div class="col-xs-12 form-control">
                                <fieldset>
                                    <legend>Раствор</legend>
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required
                                                         [validatorControl]="form.controls.specific_gravity_04">
                                                Удельный вес
                                            </label-field>
                                            <input formControlName="specific_gravity_04" type="number">
                                        </div>

                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required [validatorControl]="form.controls.viscosity_04">
                                                Вязкость
                                            </label-field>
                                            <input formControlName="viscosity_04" type="number">
                                        </div>

                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required
                                                         [validatorControl]="form.controls.water_separation_04">
                                                Водоотдача
                                            </label-field>
                                            <input formControlName="water_separation_04" type="number">
                                        </div>

                                        <div class="col-sm-3 col-xs-6 form-control">
                                            <label-field required
                                                         [validatorControl]="form.controls.percent_greasing_04">
                                                Процент содержания смазки
                                            </label-field>
                                            <input formControlName="percent_greasing_04" type="number">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-xs-12 form-control">
                    <fieldset>
                        <legend>Проходка</legend>
                        <div class="row">
                            <div class="col-sm-4 col-xs-6 form-control">
                                <label-field required [validatorControl]="form.controls.sinking_day">
                                    За день
                                </label-field>
                                <input formControlName="sinking_day" type="number">
                            </div>
                            <div class="col-sm-4 col-xs-6 form-control">
                                <label-field>
                                    За месяц
                                </label-field>
                                <input [value]="dayReport.sinking_month" [disabled]="true" type="number">
                            </div>

                            <div class="col-sm-4 col-xs-6 form-control">
                                <label-field>
                                    За год
                                </label-field>
                                <input [value]="dayReport.sinking_year" [disabled]="true" type="number">
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!--balance_times_attributes-->
                <div class="col-xs-12 form-control">
                    <fieldset>
                        <legend>Баланс времени</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn -primary" (click)="onAddBalanceTime()">Добавить</button>
                            </div>
                        </div>
                        <div *ngFor="let balance_time of balanceTimesControls"
                             [formGroup]="balance_time" [@addRemove]="true">
                            <div class="row bottom-sm" *ngIf="balance_time.controls._destroy.value == false"
                                 [@addRemove]="true">
                                <div class="col-sm col-xs-6 form-control">
                                    <label-field required [validatorControl]="balance_time.controls.spr_work_types_id">
                                        Вид работы
                                    </label-field>
                                    <ng-select formControlName="spr_work_types_id" [options]="spr_work_types"
                                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                                </div>
                                <div class="col-sm-2 col-xs-6 form-control">
                                    <label-field required [validatorControl]="balance_time.controls.time_">
                                        Время
                                    </label-field>
                                    <input formControlName="time_" type="number">
                                </div>
                                <div class="col-sm-2 col-xs-6 form-control">
                                    <label-field required [validatorControl]="balance_time.controls.num_value">
                                        Числовая характеристика работы
                                    </label-field>
                                    <input formControlName="num_value" type="number">
                                </div>

                                <div class="col-sm-2 col-xs-6 form-control">
                                    <label-field [validatorControl]="balance_time.controls.culprit">
                                        Виновная сторона
                                    </label-field>
                                    <input formControlName="culprit" type="text">
                                </div>

                                <div class="col-sm-2 col-xs-12 form-control">
                                    <button class="btn -error" (click)="onDeleteFromArray(balance_time)">Удалить
                                    </button>
                                </div>

                            </div>

                        </div>
                    </fieldset>
                </div>

                <!--requests_attributes-->
                <div class="col-xs-12 form-control">
                    <fieldset>
                        <legend>Заявки</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn -primary" (click)="onAddRequest()">Добавить</button>
                            </div>
                        </div>
                        <div *ngFor="let request of requestsControls" [formGroup]="request" [@addRemove]="true">
                            <div class="row bottom-sm" *ngIf="request.controls._destroy.value == false"
                                 [@addRemove]="true">
                                <div class="col-sm col-xs-6 form-control">
                                    <label-field required [validatorControl]="request.controls.spr_requests_id">
                                        Вид заявки
                                    </label-field>
                                    <ng-select formControlName="spr_requests_id" [options]="spr_requests"
                                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                                </div>
                                <div class="col-sm col-xs-6 form-control">
                                    <label-field required [validatorControl]="request.controls.date_time">
                                        Дата и время
                                    </label-field>
                                    <input formControlName="date_time" [textMask]="{mask: dateTimeMask}"
                                           ngui-datetime-picker
                                           date-format="DD.MM.YYYY HH:mm" type="datetime"/>
                                </div>

                                <div class="col-sm-2 col-xs-12 form-control">
                                    <button class="btn -error" (click)="onDeleteFromArray(request)">Удалить</button>
                                </div>

                            </div>

                        </div>
                    </fieldset>
                </div>

                <!--chocks_attributes-->
                <div class="col-xs-12 form-control">
                    <fieldset>
                        <legend>Башмаки</legend>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn -primary" (click)="onAddChock()">Добавить</button>
                            </div>
                        </div>
                        <div *ngFor="let chock of chocksControls" [formGroup]="chock" [@addRemove]="true">
                            <div class="row bottom-sm" *ngIf="chock.controls._destroy.value == false"
                                 [@addRemove]="true">
                                <div class="col-sm col-xs-6 form-control">
                                    <label-field required [validatorControl]="chock.controls.spr_chock_diameters_id">
                                        Диаметр машмака
                                    </label-field>
                                    <ng-select formControlName="spr_chock_diameters_id" [options]="spr_chock_diameters"
                                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                                </div>
                                <div class="col-sm col-xs-6 form-control">
                                    <label-field required [validatorControl]="chock.controls.chock_depth">
                                        Глубина башмака
                                    </label-field>
                                    <input formControlName="chock_depth" type="number"/>
                                </div>

                                <div class="col-sm-2 col-xs-12 form-control">
                                    <button class="btn -error" (click)="onDeleteFromArray(chock)">Удалить</button>
                                </div>

                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.spr_telesystems_id">
                        Телесистема
                    </label-field>
                    <ng-select formControlName="spr_telesystems_id" [options]="spr_telesystems"
                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.spr_contract_solutions_id">
                        Буровые растворы
                    </label-field>
                    <ng-select formControlName="spr_contract_solutions_id" [options]="spr_contract_solutions"
                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.spr_drillrig_types_id">
                        Тип буровой установки
                    </label-field>
                    <ng-select formControlName="spr_drillrig_types_id" [options]="spr_drillrig_types"
                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field required [validatorControl]="form.controls.users_id">
                        Бригада
                    </label-field>
                    <ng-select formControlName="users_id" [options]="users"
                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.spr_bit_types_id">
                        Тип долота
                    </label-field>
                    <label>Шарошечное <input type="checkbox" formControlName="bit_is_roller"></label>
                    <ng-select formControlName="spr_bit_types_id" [options]="spr_bit_types"
                               [notFoundMsg]="'Не чего не найдено'"
                               [allowClear]="true"></ng-select>
                </div>

                <!--<div class="col-sm-4 col-xs-6 form-control">-->
                <!--<label-field [validatorControl]="">Диаметр долота</label-field>-->
                <!--<input formControlName="bit_diameter" type="text">-->
                <!--</div>-->

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.spr_turbodrill_types_id">
                        Тип турбобура
                    </label-field>
                    <ng-select formControlName="spr_turbodrill_types_id" [options]="spr_turbodrill_types"
                               [notFoundMsg]="'Не чего не найдено'" [allowClear]="true"></ng-select>
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.turbodrill_number">
                        Номер турбобура
                    </label-field>
                    <input formControlName="turbodrill_number" type="text" maxlength="10" />
                </div>

                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.masters">
                        Мастеров присутствующих на скважине
                    </label-field>
                    <input formControlName="masters" type="text">
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.bit_number">
                        Номер долота
                    </label-field>
                    <input formControlName="bit_number" type="text">
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.bit_work_hours">
                        Наработка долота
                    </label-field>
                    <input formControlName="bit_work_hours" type="number">
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.drill_speed_prg">
                        Скорость бурения по программе
                    </label-field>
                    <input formControlName="drill_speed_prg" type="number">
                </div>
                <div class="col-sm-4 col-xs-6 form-control">
                    <label-field [validatorControl]="form.controls.drill_speed_fact">
                        Скорость бурения фактическая
                    </label-field>
                    <input formControlName="drill_speed_fact" type="number">
                </div>

            </div>

        </form>
    </div>
</div>

