:host {
  width: 100%;
  height: 100%;
}

.card {
  overflow: auto;
  max-height: calc(100% - 50px);
}

.actions-panel {
  padding: 10px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  background-color: white;
  z-index: 1;

  & > * {
    margin: 0 5px;
  }
}


