<div class="page-content">
  <div class="card">
    <loader [loader]="loading"></loader>
    <div class="card-content">
      <div class="card-header -center">
        Авторизация
      </div>
      <form class="form" [formGroup]="form" (keyup.enter)="signIn()">
          <div class="row">
          <div class="form-control">
            <label>Логин</label>
              <input formControlName="login" autoFocus type="text">
          </div>
        </div>
          <div class="row">
          <div class="form-control">
            <label>Пароль</label>
            <input formControlName="password" type="password">
          </div>
        </div>

      </form>
      <div class="card-actions">
        <button class="btn -primary" (click)="signIn()" [disabled]="!form.valid">Войти</button>
      </div>
    </div>

  </div>
</div>