<loader [loader]="loading == true || dailyReportForm.loading == true"></loader>
<div class="sidebar" [class.-visible]="sidebarIsVisible">
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col-sm-12 form-control">
          <label>Дата</label>
          <input [ngModel]="selectedDate" (ngModelChange)="onSelectDate($event)" date-only="true" ngui-datetime-picker date-format="DD.MM.YYYY"/>
        </div>
      </div>
    </div>
  </div>

  <div class="button-block">
      <a class="btn -warning" href="{{report_url + '?report_day=' + selectedDate}}" target="_blank"
         *ngIf="authService.userData.isManager">Отчет</a>
    <button class="btn -primary" (click)="onCreate()">Создать</button>
  </div>

  <div class="list">
      <a class="list-item" [class.-selected]="dayReport == selectedDayReport"
         *ngFor="let dayReport of dayReports | orderBy : ['distance']" (click)="onSelectDayReport(dayReport)">
      <b>{{dayReport.report_day}}</b>
        <span class="extra">{{dayReport.name}}</span>
      <span class="extra">{{dayReport.user.name}}</span>
    </a>
  </div>
  <div class="button-block">
    <button class="btn -primary" (click)="onOpenModule()">Справочники</button>
    <button class="btn -error" (click)="signOut()">Выйти</button>
  </div>
</div>

<div class="page-container">
  <div class="hamburger" [class.-open]="sidebarIsVisible" (click)="toggleSidebar()">
    <div class="hamburger-container">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="overlay"></div>

  <div class="page-content">
    <daily-report-form [(dayReport)]="selectedDayReport" [dayReports]="dayReports" #dailyReportForm [hidden]="!selectedDayReport.report_day" (onCreate)="createSelectedItem()" (onDestroy)="deleteSelectedItem()"></daily-report-form>
      <!--<button (click)="test()">123</button>-->
  </div>

</div>
