@import "~flexboxgrid/dist/flexboxgrid.min";
@import "variables";
@import "dist/card";
@import "dist/form";
@import "dist/input";
@import "dist/button";
@import "dist/sidebar";
@import "dist/hamburger";
@import "dist/list";
@import "dist/select";
@import "dist/loader";
@import "dist/modal";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background-color;
  color: $color;
  margin: 0;
  font-family: sans-serif;
}

.page-content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#toast-container {
  z-index: 99999;
}