$background-color: #eaeaea;
$color: rgba(0, 0, 0, 0.87);
$disabled-color: #656565;
$collapse-breakpoint: 992px;
$sidebar-background-color: #5c44b7;
$sidebar-color: #fff;
$transition-duration: 0.3s;

$primary-color: #2196f3;
