.list {
  flex: 1;
}

.list > a.list-item {
  span.extra {
    color: rgba(0, 0, 0, 0.8)
  }


  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}