<div class="modal-content">

    <loader [loader]="loading == true"></loader>

    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col-sm-12 form-control">
                    <label>Дата</label>
                    <input [ngModel]="selectedDate" (ngModelChange)="onSelectDate($event)" date-only="true"
                           ngui-datetime-picker date-format="DD.MM.YYYY"/>
                </div>
            </div>
        </div>
    </div>

    <div class="list">
        <a class="list-item" [class.-selected]="dayReport == selectedDayReport" *ngFor="let dayReport of dayReports"
           (click)="onSelectDayReport(dayReport)">
            <b>{{dayReport.report_day}}</b>
            <span class="extra">{{dayReport.name}}</span>
            <span class="extra">{{dayReport.user.name}}</span>
        </a>
    </div>

    <div class="button-block" style="justify-content: center">
        <button class="btn -error" (click)="cancel()">Отмена</button>
    </div>

</div>