<div class="modal-content" style="overflow-x: hidden;">
    
    <div id="container"> 
        <div class="tabs"> 
            <input class="inputTab" id="tab1" type="radio" name="tabs" checked> 
            <label for="tab1">Долотья</label> 
      
            <input class="inputTab" id="tab2" type="radio" name="tabs"> 
            <label for="tab2">Диаметры башмаков</label> 

            <input class="inputTab" id="tab3" type="radio" name="tabs"> 
            <label for="tab3">Буровые растворы</label> 
      
            <input class="inputTab" id="tab4" type="radio" name="tabs"> 
            <label for="tab4">Диаметры</label> 

            <input class="inputTab" id="tab5" type="radio" name="tabs"> 
            <label for="tab5">Буровые установки</label> 

            <input class="inputTab" id="tab6" type="radio" name="tabs"> 
            <label for="tab6">Месторождения</label> 

            <input class="inputTab" id="tab7" type="radio" name="tabs"> 
            <label for="tab7">Заявки</label>
  
            <input class="inputTab" id="tab8" type="radio" name="tabs"> 
            <label for="tab8">Телесистемы</label> 
  
            <input class="inputTab" id="tab9" type="radio" name="tabs"> 
            <label for="tab9">Турбобуры</label> 
  
            <input class="inputTab" id="tab10" type="radio" name="tabs"> 
            <label for="tab10">Назначения скважин</label> 
  
            <input class="inputTab" id="tab11" type="radio" name="tabs"> 
            <label for="tab11">Кустовые площадки</label> 
  
            <input class="inputTab" id="tab12" type="radio" name="tabs"> 
            <label for="tab12">Типы работ</label> 

            <section id="content1"> 
                <button class="btn -primary" (click)="createPost(sprBitTypes)" [disabled]="isOpenForm">Добавить</button>          
                <table style="width: 630px;" >
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" title="Сортировать по наименованию" (click)="sortTable('name')" >Наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th><a class="sorting" title="Сортировать по порядку печати" (click)="sortTable('rn')"> Порядок печати⬍</a></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprBitType of sprBitTypes | sortingSprBitType:path:order  | paginate: {itemsPerPage: 5, currentPage:page1, id: '1'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplate(sprBitType)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprBitType}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
       
                <!--Шаблон для чтения-->
          
                <ng-template #readOnlyTemplate let-sprBitType>
                    <td>{{sprBitType.name }}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprBitType.is_active" readonly disabled /></td>
                    <td>{{sprBitType.rn}}</td>
                    <td><button class="edit" title="Изменить" (click)="editSprBitType(sprBitType)"></button></td>
                    <td><button class="delete" title="Удалить" (click)="deleteSprBitType(sprBitType)"></button></td>
                </ng-template>

                <!--Шаблон для редактирования-->

                <ng-template #editTemplate>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprBitType.name" /></td>
                    <td><input type="checkbox" checked class="material_checkbox" [(ngModel)]="sprBitType.is_active" /></td>
                    <td><input type="number" min="0" [(ngModel)]="sprBitType.rn"  /></td>
                    <td><button (click)="saveSprBitType()" title="Сохранить" class="save"></button></td>
                    <td><button class="cancel" title="Отменить" (click)="cancelSprBitType()"></button></td>
                </ng-template>

                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page1 = $event" id="1"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content2">
                <button class="btn -primary" (click)="createSprChockDiameter(sprChockDiameters)" [disabled]="isOpenForm2">Добавить</button>
                    <table style="width: 630px;">
                        <thead style="font-size: 14px;">
                            <tr>
                                <th><a class="sorting" title="Сортировать по диаметру"  (click)="sortTableChockDiameter('diameter')"> Диаметр⬍</a></th>
                                <th><a class="sorting" title="Сортировать по порядку печати"  (click)="sortTableChockDiameter('rn')">Порядок печати⬍</a></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sprChockDiameter of sprChockDiameters | sortingChockDiameters:path1:order1  | paginate: {itemsPerPage: 10, currentPage:page2, id: '2'}; let i = index">
                                <ng-template [ngTemplateOutlet]="loadTemplateSprChockDiameter(sprChockDiameter)" 
                                                [ngTemplateOutletContext]="{ $implicit: sprChockDiameter}">
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
   
                    <!--Шаблон для чтения-->
        
                    <ng-template #readOnlyTemplateSprChockDiameter let-sprChockDiameter>
                        <td>{{sprChockDiameter.diameter}}</td>
                        <td>{{sprChockDiameter.rn}}</td>
                        <td><button class="edit" title="Изменить" (click)="editSprChockDiameter(sprChockDiameter)"></button></td>
                        <td><button class="delete" title="Удалить" (click)="deleteSprChockDiameter(sprChockDiameter)" ></button></td>
                    </ng-template>
  
                    <!--Шаблон для редактирования-->

                    <ng-template #editTemplateSprChockDiameter>
                        <td><input type="number" min="0" [(ngModel)]="sprChockDiameter.diameter" /></td>
                        <td><input type="number" min="0" [(ngModel)]="sprChockDiameter.rn"  /></td>
                        <td><button (click)="saveSprChockDiameter()" title="Сохранить" class="save"></button></td>
                        <td><button class="cancel" title="Отменить" (click)="cancelSprChockDiameter()"></button></td>
                    </ng-template>

                    <div class="pagination-block" style="justify-content: center">
                        <pagination-controls (pageChange)="page2 = $event" id="2"
                                                maxSize="5"
                                                directionLinks="true"
                                                autoHide="true">
                        </pagination-controls>
                    </div>
            </section>  

            <section id="content3">  
                <button class="btn -primary" (click)="createSprContractSolution(sprContractSolutions)" [disabled]="isOpenForm3">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableContractSolution('name')" title="Сортировать по наименованию"> Наименование⬍ </a></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprContractSolution of sprContractSolutions | sortingSprContractSolutions:path2:order2  | paginate: {itemsPerPage: 10, currentPage:page3, id: '3'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprContractSolution(sprContractSolution)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprContractSolution}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
         
                <!--Шаблон для чтения-->
      
                <ng-template #readOnlyTemplateSprContractSolution let-sprContractSolution>
                    <td>{{sprContractSolution.name}}</td>
                    <td><button class="edit" title="Изменить" (click)="editSprContractSolution(sprContractSolution)"></button></td>
                    <td><button class="delete" title="Удалить" (click)="deleteSprContractSolution(sprContractSolution)" ></button></td>
                </ng-template>
        
                <!--Шаблон для редактирования-->
        
                <ng-template #editTemplateSprContractSolution>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprContractSolution.name" /></td>
                    <td><button (click)="saveSprContractSolution()" title="Сохранить" class="save"></button></td>
                    <td><button class="cancel" title="Отменить" (click)="cancelSprContractSolution()"></button></td>
                </ng-template>

                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page3 = $event" id="3"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content4"> 
                <button class="btn -primary" (click)="createSprDiameter(sprDiameters)" [disabled]="isOpenForm4">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableDiameter('diameter')" title="Сортировать по диаметру">Диаметр⬍</a></th>
                            <th class="title">Активность</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprDiameter of sprDiameters | sortingDiameters:path3:order3 | paginate: {itemsPerPage: 5, currentPage:page4, id: '4'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprDiameter(sprDiameter)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprDiameter}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
         
                <!--Шаблон для чтения-->
        
                <ng-template #readOnlyTemplateSprDiameter let-sprDiameter>
                    <td>{{sprDiameter.diameter}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprDiameter.is_active" readonly disabled /></td>
                    <td><button class="edit" title="Изменить" (click)="editSprDiameter(sprDiameter)"></button></td>
                    <td><button class="delete" title="Удалить" (click)="deleteSprDiameter(sprDiameter)"></button></td>
                </ng-template>
        
                <!--Шаблон для редактирования-->
        
                <ng-template #editTemplateSprDiameter>
                    <td><input type="number" min="0" [(ngModel)]="sprDiameter.diameter" /></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprDiameter.is_active" /></td> 
                    <td><button (click)="saveSprDiameter()" class="save" title="Сохранить"></button></td>
                    <td><button class="cancel" (click)="cancelSprDiameter()" title="Отменить" ></button></td>
                </ng-template>
               
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page4 = $event" id="4"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content5"> 
                <button class="btn -primary" (click)="createSprDrillrigType(sprDrillrigTypes)" [disabled]="isOpenForm5">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableDrillrigType('name')"title="Сортировать по наименованию">Наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprDrillrigType of sprDrillrigTypes | sortingDrillrigTypes:path4:order4 | paginate: {itemsPerPage: 5, currentPage:page5, id: '5'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprDrillrigType(sprDrillrigType)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprDrillrigType}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>

                <!--Шаблон для чтения-->

                <ng-template #readOnlyTemplateSprDrillrigType let-sprDrillrigType>
                    <td>{{sprDrillrigType.name}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprDrillrigType.is_active" readonly disabled /></td>
                    <td><button class="edit" title="Изменить" (click)="editSprDrillrigType(sprDrillrigType)"></button></td>
                    <td><button class="delete" (click)="deleteSprDrillrigType(sprDrillrigType)" title="Удалить"></button></td>
                </ng-template>
  
                <!--Шаблон для редактирования-->
        
                <ng-template #editTemplateSprDrillrigType>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprDrillrigType.name" /></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprDrillrigType.is_active" /></td>
                    <td><button (click)="saveSprDrillrigType()" class="save" title="Сохранить"></button></td>
                    <td><button class="cancel" (click)="cancelSprDrillrigType()" title="Отменить"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page5 = $event" id="5"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content6"> 
                <button class="btn -primary" (click)="createSprOilfield(sprOilfields)" [disabled]="isOpenForm6">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableOilfield('oilfield_id')"  title="Сортировать по идентификатору">№⬍</a></th>
                            <th><a class="sorting" (click)="sortTableOilfield('full_name')" title="Сортировать по полному наименованию">Полное наименование⬍</a></th>
                            <th><a class="sorting" (click)="sortTableOilfield('short_name')" title="Сортировать по сокращенному наименованию">Скоращенное наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th><a class="sorting" (click)="sortTableOilfield('distance')" title="Сортировать по расстоянию">Расстояние⬍</a></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprOilfield of sprOilfields | sortingOilfields:path5:order5  | paginate: {itemsPerPage: 5, currentPage:page6, id: '6'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprOilfield(sprOilfield)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprOilfield}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>

                <!--Шаблон для чтения-->

                <ng-template #readOnlyTemplateSprOilfield let-sprOilfield>
                    <td>{{sprOilfield.oilfield_id}}</td>
                    <td>{{sprOilfield.full_name}}</td>
                    <td>{{sprOilfield.short_name}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprOilfield.is_active" readonly disabled /></td>
                    <td>{{sprOilfield.distance}}</td>
                    <td><button class="edit" title="Изменить" (click)="editSprOilfield(sprOilfield)"></button></td>
                    <td><button class="delete" (click)="deleteSprOilfield(sprOilfield)" title="Удалить"></button></td>
                </ng-template>
  
                <!--Шаблон для редактирования-->
        
                <ng-template #editTemplateSprOilfield>
                    <td><input type="number" min="0" [(ngModel)]="sprOilfield.oilfield_id" edit disabled /></td>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprOilfield.full_name" /></td>
                    <td><input type="text" maxlength="10" [(ngModel)]="sprOilfield.short_name" /></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprOilfield.is_active"  /></td>
                    <td><input type="number" min="0" [(ngModel)]="sprOilfield.distance" /></td>
                    <td><button (click)="saveSprOilfield()" class="save" title="Сохранить"></button></td>
                    <td><button class="cancel" (click)="cancelSprOilfield()" title="Отменить"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page6 = $event" id="6"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content7"> 
                <button class="btn -primary" (click)="createSprRequest(sprRequests)" [disabled]="isOpenForm7">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableRequest('name')" title="Сортировать по наименованию">Наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprRequest of sprRequests | sortingRequest:path6:order6  | paginate: {itemsPerPage: 5, currentPage:page7, id: '7'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprRequest(sprRequest)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprRequest}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>

                <!--Шаблон для чтения-->
        
                <ng-template #readOnlyTemplateSprRequest let-sprRequest>
                    <td>{{sprRequest.name}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprRequest.is_active" readonly disabled /></td>
                    <td><button class="edit" title="Изменить" (click)="editSprRequest(sprRequest)"></button></td>
                    <td><button class="delete" (click)="deleteSprRequest(sprRequest)" title="Удалить" ></button></td>
                </ng-template>

                <!--Шаблон для редактирования-->

                <ng-template #editTemplateSprRequest>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprRequest.name" /></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprRequest.is_active" /></td>
                    <td><button (click)="saveSprRequest()" class="save" title="Сохранить"></button></td>
                    <td><button class="cancel" (click)="cancelSprRequest()" title="Отменить"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page7 = $event" id="7"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content8"> 
                <button class="btn -primary" (click)="createSprTelesystem(sprTelesystems)" [disabled]="isOpenForm8">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableTelesystem('name')" title="Сортировать по наименованию">Наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprTelesystem of sprTelesystems | sortingTelesystems:path7:order7  | paginate: {itemsPerPage: 5, currentPage:page8, id: '8'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprTelesystem(sprTelesystem)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprTelesystem}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
   
                <!--Шаблон для чтения-->
        
                <ng-template #readOnlyTemplateSprTelesystem let-sprTelesystem>
                    <td>{{sprTelesystem.name}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprTelesystem.is_active" readonly disabled /></td>
                    <td><button class="edit" (click)="editSprTelesystem(sprTelesystem)" title="Изменить"></button></td>
                    <td><button class="delete" (click)="deleteSprTelesystem(sprTelesystem)" title="Удалить"></button></td>
                </ng-template>
  
                <!--Шаблон для редактирования-->

                <ng-template #editTemplateSprTelesystem>         
                    <td><input type="text" maxlength="100" [(ngModel)]="sprTelesystem.name" /></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprTelesystem.is_active" /></td>
                    <td><button title="Сохранить" (click)="saveSprTelesystem()" class="save" ></button></td>
                    <td><button class="cancel" (click)="cancelSprTelesystem()" title="Отменить"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page8 = $event" id="8"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content9"> 
                <button class="btn -primary" (click)="createSprTurbodrillType(sprTurbodrillTypes)" [disabled]="isOpenForm9">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableTurbodrillType('name')" title="Сортировать по наименованию">Наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprTurbodrillType of sprTurbodrillTypes | sortingTurbodrillType:path8:order8  | paginate: {itemsPerPage: 5, currentPage:page9, id: '9'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprTurbodrillType(sprTurbodrillType)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprTurbodrillType}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
   
                <!--Шаблон для чтения-->

                <ng-template #readOnlyTemplateSprTurbodrillType let-sprTurbodrillType>
                    <td>{{sprTurbodrillType.name}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprTurbodrillType.is_active" readonly disabled /></td>
                    <td><button class="edit" title="Изменить" (click)="editSprTurbodrillType(sprTurbodrillType)"></button></td>
                    <td><button class="delete" (click)="deleteSprTurbodrillType(sprTurbodrillType)" title="Удалить" ></button></td>
                </ng-template>

                <!--Шаблон для редактирования-->
        
                <ng-template #editTemplateSprTurbodrillType>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprTurbodrillType.name" /></td>
                    <td><input type="checkbox" class="material_checkbox"  [(ngModel)]="sprTurbodrillType.is_active" /></td>
                    <td><button title="Сохранить" (click)="saveSprTurbodrillType()" class="save"></button></td>
                    <td><button class="cancel" (click)="cancelSprTurbodrillType()" title="Отменить"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page9 = $event" id="9"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content10"> 
                <button class="btn -primary" (click)="createSprWellPurpose(sprWellPurposes)" [disabled]="isOpenForm10">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableWellPurpose('full_name')" title="Сортировать по полному наименованию">Полное наименование⬍</a></th>
                            <th class="title">Активность</th>
                            <th><a class="sorting" (click)="sortTableWellPurpose('short_name')"  title="Сортировать по сокращенному наименованию">Сокращенное наименование⬍</a></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprWellPurpose of sprWellPurposes | sortingWellPurpose:path9:order9  | paginate: {itemsPerPage: 5, currentPage:page10, id: '10'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprWellPurpose(sprWellPurpose)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprWellPurpose}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
   
                <!--Шаблон для чтения-->

                <ng-template #readOnlyTemplateSprWellPurpose let-sprWellPurpose>
                    <td>{{sprWellPurpose.full_name}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprWellPurpose.is_active" readonly disabled /></td>
                    <td>{{sprWellPurpose.short_name}}</td>
                    <td><button class="edit" title="Изменить" (click)="editSprWellPurpose(sprWellPurpose)"></button></td>
                    <td><button class="delete" title="Удалить" (click)="deleteSprWellPurpose(sprWellPurpose)" ></button></td>
                </ng-template>
  
                <!--Шаблон для редактирования-->
        
                <ng-template #editTemplateSprWellPurpose>
                    <td><input type="text" maxlength="100" [(ngModel)]="sprWellPurpose.full_name" /></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprWellPurpose.is_active" /></td>
                    <td><input type="text" maxlength="20" [(ngModel)]="sprWellPurpose.short_name" /></td>
                    <td><button title="Сохранить" (click)="saveSprWellPurpose()" class="save"></button></td>
                    <td><button class="cancel" title="Отменить" (click)="cancelSprWellPurpose()"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page10 = $event" id="10"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content11"> 
                <button class="btn -primary" (click)="createSprWellpad(sprWellpads)" [disabled]="isOpenForm11">Добавить</button>
                <table style="width: 630px;">
                    <thead style="font-size: 14px;">
                        <tr>
                            <th><a class="sorting" (click)="sortTableWellpad('wellpad_number')" title="Сортировать по номеру кустовой площадки">Номер кустовой площадки⬍</a></th>
                            <th><a class="sorting" (click)="sortTableWellpad('spr_oilfields_id')" title="Сортировать по идентификатору месторождения">№ месторождения⬍</a></th>
                            <th class="title">Активность</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sprWellpad of sprWellpads | sortingWellpad:path10:order10  | paginate: {itemsPerPage: 5, currentPage:page11, id: '11'}; let i = index">
                            <ng-template [ngTemplateOutlet]="loadTemplateSprWellpad(sprWellpad)" 
                                            [ngTemplateOutletContext]="{ $implicit: sprWellpad}">
                            </ng-template>
                        </tr>
                    </tbody>
                </table>

                <!--Шаблон для чтения-->
        
                <ng-template #readOnlyTemplateSprWellpad let-sprWellpad>
                    <td>{{sprWellpad.wellpad_number}}</td>
                    <td>{{sprWellpad.spr_oilfields_id}}</td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprWellpad.is_active" readonly disabled /></td>
                    <td><button class="edit" title="Изменить" (click)="editSprWellpad(sprWellpad)"></button></td>
                    <td><button class="delete" (click)="deleteSprWellpad(sprWellpad)" title="Удалить"></button></td>
                </ng-template>
  
                <!--Шаблон для редактирования-->

                <ng-template #editTemplateSprWellpad>
                    <td><input type="text" maxlength="10" [(ngModel)]="sprWellpad.wellpad_number" /></td>
                    <td><select name="spr_oilfields_id" [(ngModel)]="sprWellpad.spr_oilfields_id">
                            <option  *ngFor="let sprOilfield of sprOilfields">
                                {{sprOilfield.oilfield_id}}
                            </option>
                        </select></td>
                    <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprWellpad.is_active" /></td>
                    <td><button title="Сохранить" (click)="saveSprWellpad()" class="save" ></button></td>
                    <td><button class="cancel" (click)="cancelSprWellpad()" title="Отменить"></button></td>
                </ng-template>
                
                <div class="pagination-block" style="justify-content: center">
                    <pagination-controls (pageChange)="page11 = $event" id="11"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true">
                    </pagination-controls>
                </div>
            </section>  

            <section id="content12"> 
                <button class="btn -primary" (click)="createSprWorkType(sprWorkTypes)" [disabled]="isOpenForm12">Добавить</button>
                <table>
                        <thead style="font-size: 14px;"> 
                            <tr>
                                <th><a class="sorting" (click)="sortTableWorkType('name')" title="Сортировать по наименованию">Наименование⬍</a></th>
                                <th class="title">Активность</th>
                                <th><a class="sorting" (click)="sortTableWorkType('full_name')" title="Сортировать по полному наименованию">Полное наименование⬍</a></th>
                                <th><a class="sorting" (click)="sortTableWorkType('group_name')" title="Сортировать по наименованию группы">Наименование группы⬍</a></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sprWorkType of sprWorkTypes | sortingWorkType:path11:order11  | paginate: {itemsPerPage: 5, currentPage:page12, id: '12'}; let i = index">
                                <ng-template [ngTemplateOutlet]="loadTemplateSprWorkType(sprWorkType)" 
                                                [ngTemplateOutletContext]="{ $implicit: sprWorkType}">
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
    
                    <!--Шаблон для чтения-->
        
                    <ng-template #readOnlyTemplateSprWorkType let-sprWorkType>
                        <td>{{sprWorkType.name}}</td>
                        <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprWorkType.is_active" readonly disabled /></td>
                        <td>{{sprWorkType.full_name}}</td>
                        <td>{{sprWorkType.group_name}}</td>
                        <td><button class="edit" (click)="editSprWorkType(sprWorkType)" title="Изменить"></button></td>
                        <td><button class="delete" (click)="deleteSprWorkType(sprWorkType)" title="Удалить"></button></td>
                    </ng-template>
  
                    <!--Шаблон для редактирования-->
        
                    <ng-template #editTemplateSprWorkType>
                        <td><input type="text" maxlength="100" [(ngModel)]="sprWorkType.name" /></td>
                        <td><input type="checkbox" class="material_checkbox" [(ngModel)]="sprWorkType.is_active" /></td>
                        <td><input type="text" maxlength="500" [(ngModel)]="sprWorkType.full_name" /></td>
                        <td><input type="text" maxlength="100" [(ngModel)]="sprWorkType.group_name" /></td>
                        <td><button title="Сохранить" (click)="saveSprWorkType()" class="save"></button></td>
                        <td><button class="cancel" title="Отменить" (click)="cancelSprWorkType()"></button></td>
                    </ng-template>
                    
                    <div class="pagination-block" style="justify-content: center">
                        <pagination-controls (pageChange)="page12 = $event" id="12"
                                                maxSize="5"
                                                directionLinks="true"
                                                autoHide="true">
                        </pagination-controls>
                    </div>   
                </section>  
    
        </div> 
    </div>  
  
    <div class="button-block" style="justify-content: center">
        <button class="btn -error" (click)="cancelModal()">Выход</button>
    </div>

</div>
