.app-modal-window .modal-dialog {
  width: 500px;
}

.tabs { 
  width: 850px; 
  padding: 0px; 
  margin: 0 auto; 
  position: relative; 
}

section { 
  display: none;
  padding: 15px; 
  background: white; 
  position: absolute; 
  top: 0px; 
  left: 180px; 
}

p { 
  margin: 0; 
}

.inputTab { 
  display: none; 
  color: white; 
} 

label { 
  display: block; 
  width: 180px; 
  padding: 15px; 
  cursor: pointer; 
  font-family: Arial Black; 
  color: #000; 
  text-align:center;
  background: #FFD700; 
} 

.inputTab:checked + label { 
  color: white; 
  background: #DAA520; 
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5, #tab6:checked ~ #content6, #tab7:checked ~ #content7, #tab8:checked ~ #content8, #tab9:checked ~ #content9, #tab10:checked ~ #content10, #tab11:checked ~ #content11, #tab12:checked ~ #content12 { 
  display: block; 
}

section { 
  animation: scale 0.7s ease-in-out; 
}

@keyframes scale { 
  
  0% { 
  transform: scale(0.9); 
  opacity: 0; 
  } 

  50% { 
  transform: scale(1.005); 
  opacity: 0.5; 
  }

  100% { 
  transform: scale(1); 
  opacity: 1; 
  }

}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: white;
  max-width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}

th {
  font-weight: normal;
  color: #000;
  border-bottom: 2px solid #000;
  padding: 10px 8px;
}

.sorting{
 font-weight: bold;

}

.sorting:hover {
  cursor: pointer;
  color:#FF8C00;
 font-weight: bold;

}

.title {
  font-weight: bold;
}

.titl{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

td {
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 9px 8px;
  transition: .3s linear;
}

header {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 25px;  
}

.material_checkbox {
  position: relative;
  margin: 25px;
}

.material_checkbox:focus {
  outline-color: #fff;
}

.material_checkbox:before {
  border: 2px solid #ccc;
  content: "";
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 15px;
  z-index: 1;
}

.material_checkbox:checked:before {
  border-top-style: none;
  border-right-style: none;
  height: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.material_checkbox:after {
  background: #fff;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 0;
  width: 15px;
  z-index: 0;
}

.material_checkbox:nth-child(1):checked:before{border-color:#008000;}

.edit {
  display: inline-block;
  background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  outline: none; 
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}

.edit:after{
  content: "✎";
  left:5px;
  top:1px;
}

.edit:hover:after{
  content: "✎";
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}

.delete {
  display: inline-block;
  background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}


.delete:after{
  content: "✖";
  left:5px;
  top:1px;
}

.delete:hover:after{
  content: "✖";
  color:#FF0000	;
  text-shadow:0px 0px 6px #FF0000	;
}

.save {
  display: inline-block;
  background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}

.save:after{
  content: "✔";
  left:5px;
  top:1px;
}

.save:hover:after{
  content: "✔";
  color:#83d244;
  text-shadow:0px 0px 6px #83d244;
}

.cancel {
  display: inline-block;
  background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);
  cursor: pointer;
  outline: none; 
  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}

.cancel:after{
  content: "⚠";
  left:5px;
  top:1px;
}

.cancel:hover:after{
  content: "⚠";
  color:#FF8C00;
  text-shadow:0px 0px 6px #FF8C00;
}

.pagination-block {
  display: flex;
  justify-content: space-between;
}

