<label>
    <ng-content></ng-content>
    <b style="color: #ff0000;" *ngIf="required !== false">*</b>
    <validate-message *ngIf="validatorControl" [control]="validatorControl"></validate-message>
</label>